:host {
  display: block;
  text-align: center;
}

.title {
  font-weight: bold;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

img {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: 0 auto 15px auto;
}
