html {
  height: 100%;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 100%;
  background: #fff;
  background-size: cover;
  color: #212121;
}

a,
.pointer {
  cursor: pointer;
}

a {
  font-weight: 400;
  text-decoration: none;
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

hr {
  border-color: #ccc;
}

.cleared {
  clear: both;
}

.text-ok {
  color: green !important;
}

.text-error {
  color: red !important;
}

ul.list {
  list-style-type: square;
  li {
    margin-bottom: 5px;
  }
}

.router-outlet-container {
  will-change: position, transform, width;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
