<div class="sub-header" *ngIf="q">
  <div class="clearfix">
    <h3 class="pull-left pointer" [routerLink]="['/']" [queryParams]="{ q: q }">
      Results for ({{ q }})
    </h3>
    <app-pagination
      *ngIf="users && pageCount > 1"
      [page]="currentPage"
      [pageCount]="pageCount"
      (pageChange)="onPageChange($event)"
      class="pull-right"
    ></app-pagination>
  </div>
</div>
<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading" class="clearfix">
  <div *ngIf="users && users.length">
    <div class="user-info" *ngFor="let user of users" [routerLink]="['/', user.login]">
      <app-user-summary [user]="user"></app-user-summary>
    </div>
  </div>
  <div *ngIf="users && !users.length">Unable to find users matching {{ q }}</div>
</div>
<div *ngIf="!isLoading && !users">
  <p>Welcome to Github Commit Browser. Start by searching for the user/organization.</p>
</div>
