.sub-header {
  position: sticky;
  top: 140px;
  background: #fff;
}

.user-info {
  float: left;
  min-width: 130px;
  width: 16.66%;
  padding: 10px;
  border-radius: 3px;

  cursor: pointer;

  &:hover {
    background: #ccc;
  }
}

@media screen and (max-width: 767px) {
  app-pagination {
    clear: both;
    float: left;
  }
}
