<div class="header">
  <div class="container">
    <div class="pull-right pt-2">
      <a routerLink="/settings"><i class="fa fa-cog"></i> Settings</a>
    </div>
    <h1 class="brand">
      <span routerLink="/" class="pointer"
        >Github Commit Browser
        <span *ngIf="hasOAuth" title="Uses OAuth (Client ID & Secret)"
          ><i class="fa fa-bolt"></i></span
      ></span>
    </h1>
    <app-search-user-box></app-search-user-box>
  </div>
</div>
<div class="container container-body"><router-outlet></router-outlet></div>
