:host {
  display: block;
  border: 1px solid #ccc;
  background: #fefefe;
  padding: 10px;
  border-radius: 3px;
  margin: 5px 0;
}

.title {
  font-weight: bold;
}

.stats {
  float: right;
  font-size: 0.8125rem;

  span {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}
